<div class="row marketing">

    <div class="jumbotron" ng-controller="SortCtrl">
        <div class="container">
            <table width="100%">
                <tr ng-repeat="x in nombres | orderBy : 'pais' ">
                    <td width="50%">
                        <strong>
                            {{ x.nombre}}
                        </strong>
                        
                    </td>
                    <td width="50%">
                        <strong>
                            {{ x.pais | uppercase }}
                        </strong>
                        
                    </td>
                </tr>
            </table>
        </div>
    </div>	​

</div>